<% include ./partials/header %>

  
  
  <div class="container">
     <p  style="font-family: 'Nunito', sans-serif;text-align:center;
                    font-size:60px;color:rgb(0, 51, 153);padding-top:20px"><span><strong><%=event.EventName%></strong></span><br>
        <span style="font-size:20px;color:grey"><%=event.EventDateInWords%></span>
    </p>
            
  <p  style="font-family: 'Nunito', sans-serif;text-align:center;
                    font-size:20px;color:rgb(0,0,0);padding-top:20px"><span><strong><%=event.EventDescription%></strong></span></p>

              
               
          <div style="text-align:center">
            
                <form action="/register/<%=event._id%>/<%=event.EventName%>" method="POST">
                   <button style="font-family: 'Nunito', sans-serif;
                                  text-align:center;
                                  font-size:20px;
                                  background-color:green;
                                  color:white;
                                  border:solid 1px green;
                                  padding:10px;
                                  
                                  ">
                     <%if(event.RegisteredStudents.some(RegisteredUser=>RegisteredUser.id.toString() === user._id.toString())){%>
                     Registered
                     <%}else{%>
                       Register for this event
                       <%}%>
                  </button> 
                </form>
    </div>
             
  </div>
  
  
  
         
                
</div>



          
         
        
                 
               
              